* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-1{
 padding: 1rem;
}

.p-2{
    padding: 2rem;
}

.p-3{
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.m-1{
 margin: 1rem;
}

.m-2{
    margin: 2rem;
}

.m-3{
    margin: 3rem;
}

.m-4 {
    margin: 4rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.d-flex {
    display: flex;
}

.fixed {
    position: fixed;
}

.fixed-top {
    top: 0;
    position: fixed;
}

.fixed-bottom {
    bottom: 0;
    position: fixed;
}

.justify-content-center {
    justify-content: center;
}

.w100v {
    width: 100vw
}

.h100v {
    height: 100vh;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.bar {
    background-color: rgb(46, 0, 73);
}

.btn {
    font-size: inherit;
    font-style: inherit;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    color:rgb(236, 235, 235);
    border-radius: 0.3rem;
    min-width: 14.1rem;
}

.btn:hover {
    background-color: rgb(132, 0, 255);
    border: 1px solid rgb(132, 0, 255);
    cursor: pointer;
}

.app_container {
    background-color: coral;
}

.text_bar_container {
    color: rgb(51, 255, 0);
}

.groups_btn_container {
    box-shadow: 0px 0px 5px 5px rgb(226, 112, 71);
    background-color: coral;
    border-radius: 0.3rem;
}

html {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}