* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* @media screen and (min-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
} */