.btn-recording {
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
    cursor: pointer;
    margin: 1rem;
}

.btn-recording:hover {
    background-color: rgb(11, 87, 201);
    border: 1px solid rgb(11, 87, 201);
}

.btn-back {
    background-color: var(--color-indigo);
    border: 1px solid var(--color-indigo);
    cursor: pointer;
    margin: 1rem;
}

.btn-back:hover {
    background-color: rgb(82, 15, 190);
    border: 1px solid rgb(82, 15, 190);
}

.btn {
    padding: 1rem;
    font-size: inherit;
    font-style: inherit;
    color: var(--color-black);
    border-radius: 0.3rem;
    min-width: 9rem;
}

.btn-entries {
    background-color: var(--color-teal);
    border: 1px solid var(--color-teal);
    cursor: pointer;
    margin: 1rem;
}

.btn-entries:hover {
    background-color: rgb(24, 151, 113);
    border: 1px solid rgb(24, 151, 113);
}