.btn {
    margin: 30px;
}

@include media-breakpoint-up(md) {
    .btn-sm {
        --bs-btn-padding-y: 0.5rem;
        --bs-btn-padding-x: 1rem;
        --bs-btn-font-size: 1.25rem;
        --bs-btn-border-radius: 0.5rem;
    }
}